<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.asdamp.x_day"
    android:installLocation="auto"
    >

    <uses-sdk tools:overrideLibrary="com.shrikanthravi.collapsiblecalendarview" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:fullBackupContent="@xml/my_backup_rules">
        <activity
            android:name=".DateListActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Add"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main">
            <intent-filter>
                <action android:name="com.asdamp.x_day.ADD" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.asdamp.widget.XdayWidgetProvider"
            android:enabled="@bool/honeycombOrAbove"
            android:label="Xday (3x3)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.asdamp.widget.ADD" />
                <action android:name="com.asdamp.widget.OPEN_APP" />
                <action android:name="com.asdamp.widget.REFRESH_WIDGET" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_widget" />
        </receiver>

        <service
            android:name="com.asdamp.widget.WidgetRemote"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name="com.asdamp.widget.XdayWidgetSingleDateConfigure">
            <intent-filter>
                <action android:name="com.asdamp.widget.CONFIGURE_WIDGET_SOLO" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".About"
            android:label="@string/about"
            android:parentActivityName=".DateListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.asdamp.x_day.DateListActivity" />
        </activity>

        <receiver
            android:name="com.asdamp.widget.XdayWidgetSingleDateProvider"
            android:label="Xday (4x1)">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.asdamp.widget.OPEN_APP_SOLO" />
                <action android:name="com.asdamp.widget.REFRESH_WIDGET_SOLO" />
                <action android:name="com.asdamp.widget.OPEN_CONFIGURATION_SOLO" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_widget_data_unica" />
        </receiver>
        <receiver
            android:name="com.asdamp.notification.XdayNotification"
            android:process=":remote" />
        <receiver android:name="com.asdamp.notification.refreshNotification">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.asdamp.prova" />
            </intent-filter>
        </receiver>


    </application>

</manifest>