name: Deploy App CI

on:
  push:
    branches:
      - '*'
      - '!master'
jobs:
  build:

    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: set up JDK 17
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Grant rights
        run: chmod +x gradlew

      - name: Grant rights build
        run: chmod +x build.gradle
        
      - name: Create Google Services JSON File
        env:
          GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        run: echo $GOOGLE_SERVICES_JSON | base64 -di > ./app/google-services.json
        
      - name: Create Private Strings
        env:
          PRIVATE_STRINGS_XML: ${{ secrets.PRIVATE_STRINGS_XML }}
        run: echo $PRIVATE_STRINGS_XML | base64 -di > ./app/src/main/res/values/private_strings.xml        
            
      - name: Build with Gradle
        id: build
        run: ./gradlew build

      - name: Build Release AAB
        id: buildRelease
        run: ./gradlew bundleAdsRelease

      - name: Sign AAB
        id: sign
        uses: r0adkll/sign-android-release@v1
        with:
          releaseDirectory: app/build/outputs/bundle/adsRelease
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEY_STORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Create service_account.json
        id: createServiceAccount
        run: echo '${{ secrets.SERVICE_ACCOUNT_JSON }}' > service_account.json

      - name: Deploy to Play Store (BETA)
        id: deploy
        uses: r0adkll/upload-google-play@v1
        with:
          serviceAccountJson: ./service_account.json
          packageName: com.asdamp.x_day
          releaseFiles: ${{SIGNED_RELEASE_FILE}}
          track: beta
